html,
:root {
  --primary: #0070f3;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 2rem;

  /* list-style-type: disc; */
  /* margin-block-start: 10em; */
  /* margin-block-end: 1em; */
  margin-inline-start: -2em;
  /* margin-inline-end: 0px; */
  /* padding-inline-start: 40px; */
}

img {
  border: black solid 2px;
}

label {
  color: grey;
  font-weight: 200;
  padding-right: 2rem;
}

label:after {
  content: " : ";
}

input,
button {
  height: 2rem;
  margin-right: 1rem;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type="text"] {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  width: 40vw;
}

input[type="reset"] {
  color: orangered;
  border: 1px solid orangered;
  cursor: pointer;
}

input[type="text"]:focus {
  border: 1px solid var(--primary);
}

h3,
h2 {
  font-weight: 300;
  margin-bottom: 2rem;
}
